h3 {
    padding: 0px;
    margin: 0px;
}

/* Tasks */

#tasks {
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    margin: 10px;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #EDE8D0;

    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 5px;
}

/* Status */

.status {
    border-radius: 5px;
    padding: 5px;
}

.pending {
    background-color: lightgray;
}

.in-progress {
    background-color: yellow;
}

.completed {
    background-color: lightgreen;
}

/* Insert Form */

form {
    background: #EDE8D0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

label {
    width: 24%;
}

input[type=text],
textarea,
input[type=datetime-local] {
    width: 75%;
}

input[type=submit] {
    background-color: lightgrey;
    width: 24%;
}